[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-web-indent"]
	path = bundle/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/applescript.vim"]
	path = bundle/applescript.vim
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/python_match"]
	path = bundle/python_match
	url = https://github.com/yegle/python_match.git
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/vim-unimpared.git"]
	path = bundle/vim-unimpared.git
	url = https://github.com/tpope/vim-unimpaired.git
